<form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
    <label>
      Project Name:
      <input type="text" formControlName="name">
      <div *ngIf="projectForm.controls.name.invalid && (projectForm.controls.name.dirty || projectForm.controls.name.touched)">
        Name is required.
      </div>
    </label>
  
    <label>
      Project Description:
      <input type="text" formControlName="description">
    </label>

    <label>
      User:
      <select formControlName="user">
        <option *ngFor="let user of users" [value]="user.id">{{user.name}}</option>
      </select>
    </label>
  
    <button type="submit" [disabled]="projectForm.invalid">Submit</button>
  </form>